---
layout: 'base.njk'
---


  <!-- Blog Post Hero -->
  <section class="article-content container">
    <div>
        <!-- Breadcrumb -->
      <nav class="breadcrumb" aria-label="Breadcrumb">
        <div>
          <ol class="breadcrumb-list">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li aria-current="page">{{ title }}</li>
          </ol>
      </nav>
      <div class="blog-post-content">
        <!-- Meta Information -->
        <div class="post-meta">
          <span class="category-badge">  
            {% for tag in tags %}
                {{ tag }}
            {% endfor %}
          </span>
          <div class="stat-item">
              <i data-lucide="calendar"></i>
              <time datetime="{{ date }}">{{ date | postDate }}</time>
            </div>
            <div class="stat-item">
              <i data-lucide="clock"></i>
              <span>{{ content | emojiReadTime }}</span>
            </div>
          </div>
        </div>

        <!-- Title -->
        <h1 class="post-title">{{ title }}</h1>

        <!-- Intro Text -->
        <p class="post-intro"> {{ description }} </p>

      <!-- Featured Image -->
      <div class="post-image-container">
          <figure>
            <img src="{{ image }}" alt="{{ imageAlt }}">
          </figure>        
          
      </div>
    </div>
    <!-- Article Content -->
    <article class="prose">
        {{ content | safe }}
        {% cloneWarsQuote %}
      </article>
  </section>
  
    <!-- Related Articles -->
  <section class="related-articles">
    <div class="container">
      <h2>Related Articles</h2>
      <div class="related-grid">
         {%- for post in collections.featuredBlog -%}
          {% include 'article-snippet.njk' %}
        {%- endfor -%}
      </div>
    </div>
  </section>
</div>
</div>