<article class="blog-card">
    <div class="blog-card-content">
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <p class="blog-date">{{ post.data.date | postDate }}</p>
      <p class="blog-excerpt">{{ post.data.description }}</p>
      <div class="blog-tags">
        {%- for tag in post.data.tags -%}
          {%- if tag != "post" and tag != "featured" -%}
            <span class="tag">{{ tag }}</span>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <a href="{{ post.url }}" class="read-more">Read More <i class="fas fa-chevron-right"></i></a>
    </div>
</article>