 <article class="card-post">
    <div class="card-header">
      <span class="card-category">
        {%- for tag in post.data.tags -%}
          {%- if tag != "featured" -%}
            {{ tag }}
          {%- endif -%}
        {%- endfor -%}
      </span>            
      <div class="card-meta">
        <i data-lucide="calendar"></i>
        <time datetime="{{ post.data.date }}">{{ post.data.date | postDate }}</time>
      </div>
    </div>
    <div class="card-image">
      <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
    </div>
    <div class="card-content">
        <a href="{{ post.url }}"><h3>{{ post.data.title }}</h3></a>
        <p class="card-intro">{{ post.data.description }}</p>
          <a aria-label="Read more about {{ post.data.title }}" href="{{ post.url }}">Read More <i data-lucide="chevron-right"></i></a>
    </div>
</article>