<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/blogs.css">
    <script src="/scripts/main.js" defer></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/logo/lightsaber-only-black.svg">
    <script defer data-domain="johnlilly.dev" src="https://plausible.io/js/script.outbound-links.js"></script>
    {% metagen 
      title=title,
      desc=description,
      url='https://johnlilly.dev' + page.url,
      img='/assets' + image,
      img_alt=imageAlt,
      twitter_card_type='summary_large_image',
      twitter_handle='johnmlilly_',
      name=author,
      generator='eleventy'
    %}
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>