 <!-- Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo-container">
        <img src="/assets/logo/Lightsaber-transparent.png" alt="John Lilly Logo" class="site-logo">
        <a href="/" class="site-title">John Lilly</a>
      </div>
      <nav class="main-nav">
        {% set socialClass = "hide-on-mobile" %}
        {% include 'components/navigation.njk' %}
      </nav>
      {% include 'components/sociallinks.njk' %}
       <button class="mobile-menu-toggle" aria-label="Toggle menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
  </header>
  <!-- Mobile Menu -->
  <div class="mobile-menu">
    <div class="container">
      <div class="mobile-menu-header">
        <a href="/" class="site-title">John Lilly</a>
        <button class="mobile-menu-close" aria-label="Close menu">
          <i data-lucide="x"></i>
        </button>
      </div>
      <nav>
          {% include 'components/navigation.njk' %}
      </nav>
    </div>
  </div>
  