---
title: My Blog | John Lilly
layout: 'base.njk' 
image: '/logo/Social-Media-Cover.png'
description: Insights and resources from a Catholic freelance web developer in Northern Virginia — helping nonprofits grow their mission online through smart, simple design.
---
  
<section class="container snippet-container">
  <h1>Recent posts</h1>
  <div class="blog-grid">
  {%- for post in collections.blog | reverse -%}
    {% include 'article-snippet.njk' %}
  {%- endfor -%}
  </div>
</section>