---
title: View My Projects | John Lilly
layout: 'base.njk' 
image: '/logo/Social-Media-Cover.png'
description: Explore my web design projects for nonprofit and Catholic clients in Northern Virginia — focused on impact, clarity, and compelling storytelling.
---
  
<section class="container snippet-container">
  <h1>Projects</h1>
  <div class="projects-grid">
  {%- for project in collections.project | reverse -%}
     {% include 'projects-snippet.njk' %}
  {%- endfor -%}
  </div>
</section>